@import "tailwindcss";

@theme {
  /* Le fond de l'application */
  --color-dtc-bg: #0F1419;
  
  /* Les cartes / header */
  --color-dtc-surface: #0f172a;
  
  /* Le texte */
  --color-dtc-text: #f8fafc;
  --color-dtc-muted: #94a3b8;
  
  /* La couleur d'accentuation (Or Exotique) */
  --color-dtc-accent: #f59e0b; 
  --color-dtc-accent-hover: #fbbf24;
}